<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Index</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
    <div layout:fragment="content" th:remove="tag">
        <h1 th:text="#{index.message.1}"></h1>
        <p th:text="#{index.message.2}"></p>
        <ul>
            <li><a th:href="@{/home}"><span th:text="#{index.message.3}"></a></li>
        </ul>
        <h2 class="text-left" th:text="#{empresa.lista.label}"></h2>
        <form method="get" th:action="@{/}" class="form-inline my-2 my-lg-0">
            <input type="text" name="cidade" class="form-control mr-sm-2" placeholder="Digite a cidade">
            <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Pesquisar</button>
        </form>
        <section class="layout-content" layout:fragment="corpo">
            <div class="container" id="listagem" >
                <div class="table-responsive">
                    <table class="table table-striped" border="1">
                        <thead>
                            <tr>
                                <th th:text="#{empresa.email.label}"></th>
                                <th th:text="#{empresa.nome.label}"></th>
                                <th th:text="#{empresa.CNPJ.label}"></th>
                                <th th:text="#{empresa.cidade.label}"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="empresa : ${empresas}">
                                <td th:text="${empresa.email}"></td>
                                <td th:text="${empresa.nome}"></td>
                                <td th:text="${empresa.cnpj}"></td>
                                <td th:text="${empresa.cidade}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
